<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Todo API</title>
	<link rel="stylesheet" type="text/css" href="/styles/styles.css">

</head>
<body>
	<div id  = "container">
		<div id  = "signupcontainer" class = "containers">
			<h1>Sign up</h1>
			<div id ="signup">
				<form action = "<%=url%>/users" method = "post">
					Email:<br>
					<input type="text" name="email" placeholder="email"><br>
					Password:<br>
					<input type="password" name="password" placeholder ="password">
					<br><br>
					<input type="submit" value="Sign up">

				</form>
			</div>
		</div>
		<br>
		<div id = "container2">
			<hr id = "line">
			
			<div id = "orCircle">
				<h3>or</h3>
			</div>
		</div>
		<div id = "logincontainer" class = "containers">
			<h1>Log in</h1>
			<form action = "<%=url%>/users/login" method = "post">
				Email:<br>
				<input type="text" name="email" placeholder ="email"><br>
				Password:<br>
				<input type="password" name="password" placeholder = "password">
				<br><br>
				<input type="submit" value="Log in">

			</form>
		</div>

		</body>


		</html>