<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Todo API</title>
	<link rel="stylesheet" type="text/css" href="/styles/styles3.css">

</head>
<body>

	<div id= "container">
		<h2>TODOS</h2>
		<div id = "innercontainer">

			<p>
				<% todos.forEach(function(todo){%>
				<p><h4>Description</h4><%=todo.description %>
					<h4>Completed</h4> <%=todo.completed %>
				</p><hr id = "line">
				<%})%>
				
			</p>
			
		</div>

	</div>

</body>


</html>