<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Todo API</title>
		<link rel="stylesheet" type="text/css" href="/styles/styles2.css">

	</head>
	<body>

	<div id= "container">
		<h3>
		<%= email %> 
		</h3>
		<br>
		<div id = "postnewtodo">
		<h1>Post new Todo</h1>
		<form action = "http://localhost:3000/todos" method = "post">
			
			Description:<br>
			<input type="text" name="description" placeholder = "Brief description"><br>
			Completed:<br>
			<input type="text" name="completed" placeholder="true or false">
			<br><br>
			<input type="submit" value="Submit">
		</form>
		</div>
		<br><br>
		<h1>Todos</h1>
		<form action="http://localhost:3000/todos" method="get">
		  <button type="submit">get Todos</button>
		</form>
	</div>
	
	<script>
		function getTodos(){

		}
	</script>
	</body>


</html>